/**
 * Stanislav Malik
 * 2021
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree Serif');
@import url('https://fonts.googleapis.com/css2?family=PT Sans');
@import url('https://fonts.googleapis.com/css2?family=Dancing Script:wght@600&display=swap"');
@import url('https://fonts.googleapis.com/css2?family=Merienda');
@import './variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

/**
 * NAVBAR
 */
nav {
    background-color: var(--babyPowder);
}

.navbar {
    transition: all 0.5s ease-in-out;
}

.nav-link, .dropdown-item {
    font-size: 1.1em;
    color: var(--silverPink);
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid transparent;
}

.nav-link:hover, .dropdown-item:hover {
    color: var(--unbleachedSilk);
    border-bottom: 1px solid var(--unbleachedSilk);
}

.nav-link:focus, .dropdown-item:focus {
    color: var(--unbleachedSilk);
    border-bottom: 1px solid var(--unbleachedSilk);
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
}

/* hamburger */
.hamburger {
    display: none;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand > img {
    width: 170px;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--silverPink);
}

.bar:last-of-type {
    margin-bottom: 0;
}

/**
 *
 */

#home {
    background-image: url('../figures/MARMARA2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#home, #home > div {
    color: var(--silverPinkDarker);
    font-family: 'Bree Serif', sans-serif;
    font-size: 1.2em;
}

.citation {
    font-family: 'Dancing Script', cursive;
    padding-bottom: 1.5em;
}

.withDress {
    margin-top: 7em;
    padding-bottom: 2em;
}

.withDress ul li {
    list-style-type: none;
    padding: 0.5em;
    font-size: 1em;
}

.withDress ul {
    padding: 0;
}

/**
 * scroll animation
 */
.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-up {
    animation: fade-up 1s ease-in-out both;
}

.scrolled.fade-right {
    animation: fade-right 1s ease-in-out both;
}

.scrolled.fade-left {
    animation: fade-left 1s ease-in-out both;
}

.scroll-container :nth-child(2) {
    animation-delay: 0.4s;
}

.scroll-container :nth-child(3) {
    animation-delay: 0.8s;
}

.scroll-container :nth-child(4) {
    animation-delay: 1.2s;
}

.scroll-container :nth-child(5) {
    animation-delay: 1.6s;
}

@keyframes fade-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (prefers-reduced-motion) {
    .js-scroll {
        opacity: 1;
    }
    .scrolled {
        animation: none !important;
    }
}

/**
 * TESTIMONIALS
 */

.testimonial-container {
    margin-top: 7em;
    padding-bottom: 2em;
}

.testimonial-citation {
    font-style: italic;
    font-family: 'Merienda', serif;
    font-size: medium;
}


/* pagination */
.page-link {
    color: var(--silverPinkDarker);
    transition: all 0.4s ease-in-out;
}

.page-link:hover, .page-link:focus {
    color: var(--silverPinkDarker);
    background-color: var(--unbleachedSilk);
    box-shadow: none;
}

.page-item.active .page-link {
    background-color: var(--silverPink);
    border: var(--silverPinkDarker);
}

/* error */
.error-link {
    cursor: pointer;
    color: black;
    padding: 0.75em;
    background-color: var(--unbleachedSilk);
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.error-link:hover {
    color: white;
    background-color: var(--silverPink);
    text-decoration: none;
}

.myTitle {
    margin: 2em;
}

.myButton {
    border: none;
    color: white;
    box-shadow: none;
}

.myButton:hover, .myButton:focus {
    box-shadow: none;
    color: white;
}

.table-contact {
    width: 50%;
    margin: auto;
}

.product-decoration {
    color: var(--unbleachedSilk);
}

.myText {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
    color: var(--silverPinkDarker);
    padding-top: 2em;
}

#gallery > div {
    cursor: pointer;
    margin-bottom: 0.6em;
}

/**
 * FONTAWESOME ICONS ANIMATION
 */
#cog {
    animation: cog-animation 5s linear infinite;
}

@keyframes cog-animation {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}

#wrench {
    animation: wrench-animation 5s linear infinite;
    transform-origin: top right;
    position: absolute;
    margin-left: -65px;
    margin-top: 10px;
    color: grey;
    z-index: 10;
}

@keyframes wrench-animation {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-60deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

#hammer {
    animation: hammer-animation 2s linear infinite;
    transform-origin: bottom left;
    position: absolute;
    margin-left: -65px;
    color: saddlebrown;
}

@keyframes hammer-animation {
    0% {
        transform: rotate(-40deg)
    }
    50% {
        transform: rotate(3deg)
    }
    100% {
        transform: rotate(-40deg)
    }
}

/**
 * <500px
 */
@media only screen and (max-width: 500px) {
    .scroll-container :nth-child(4) {
        animation-delay: 0s;
    }

    .scroll-container :nth-child(5) {
        animation-delay: 0s;
    }

    .table-contact {
        width: 100%;
    }
}

/**
 * <768px
 */
@media only screen and (max-width: 768px) {
    .myTitle {
        margin: 1.5em;
    }
}

/**
 * <1027px
 */
@media only screen and (max-width: 1027px) {
    #router-view {
        margin: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .table_contact {
        width: 80%;
    }

    /* because of when div is hidden - -100px, navbar is wider then display width */
    .scrolled.fade-right {
        animation: fade-left 1s ease-in-out both;
    }

    .myText, #home {
        font-size: 1em;
    }

    .withDress ul li {
        font-size: 0.9em;
    }
}