@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

:root {
    --silverPink: #b69584;
    --silverPinkDarker: #825d42;
    --unbleachedSilk: #e2c3b2;
    --linen: #EFE5DC;
    --babyPowder: #FBFEFB;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

nav {
    background-color: var(--babyPowder);
}

.nav-link, .dropdown-item {
    font-size: 1.1em;
    color: var(--silverPink);
    transition: all 0.2s ease-in-out;
}

.nav-link:hover, .dropdown-item:hover {
    color: var(--unbleachedSilk);
    border-bottom: 1px solid var(--unbleachedSilk);
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--silverPink);
}

.bar:last-of-type {
    margin-bottom: 0;
}

#router-view {
    margin-top: 58px;
}

#home, #home > div {
    height: 80vh;
    color: var(--silverPinkDarker);
}

.dress-link {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

.dress-link:hover {
    opacity: 0.7;
    text-decoration: none;
    color:black;
}

@media only screen and (max-width: 991px) {
    #mmm {
        position: relative;
    }

    #router-view {
        margin: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}