/**
 * Stanislav Malik
 * 2021
 * colors for dresses
 */
:root {
    --silverPink: #b69584;
    --silverPinkDarker: #825d42;
    --unbleachedSilk: #e2c3b2;
    --linen: #EFE5DC;
    --babyPowder: #FBFEFB;
    --white: #FFFFFF;
    --Emerald: #50c878;
    --Green: green;
    --Ivory: #fffff0;
    --Gold: #ffd700;
    --Red: red;
    --Dusty-rose: #d0caca;
    --Teal-green: #00827f;
    --Burgundy: #800020;
    --Navy: #000080;
    --Royal: #0038a8;
    --Copper: #b87333;
    --Champagne: #f7e7ce;
    --Mauve: #e0b0ff;
    --Rose: #ff007f;
    --Purple: #800080;
    --Deep-mauve: #d473d4;
    --Metallic-blush: #E8C7C8;
    --Mullberry: #C54B8C;
    --Metallic-champagne: #A09589;
    --Silver: silver;
    --Blue: blue;
    --Rose-champagne: #FBDECC;
    --Mauve-silver: #C1B8C2;
    --Violet: #8f00ff;
    --Lt-peach: #F6D9C2;
    --Grey-royal: #A8AEAE;
    --Rose-gold: #B8856D;
    --Mint: #98ff98;
    --Sky-blue: #87ceeb;
    --Pink: pink;
    --Smoky-blue: #608299;
    --Orchid: #da70d6;
    --Midnight: #191970;
    --Levander: #e6e6fa;
}