/**
 * Stanislav Malik
 * 2021
 * CSS for login page
 */
@import '../../public/css/variables.css';

.main-content {
    width: 60%;
    margin: 5em auto;
}

.company__info {
    background-color: var(--linen);
    color: var(--silverPink);
}

img {width: 90%}

.row > h2 {
    color: var(--unbleachedSilk);
}

.login_form {
    background-color: #fff;
    border: 1px solid var(--unbleachedSilk);
    border-left: none;
}

form {
    padding: 0 2em;
}

.form__input {
    width: 100%;
    border: 0px solid transparent;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em .5em .5em 2em;
    outline: none;
    margin: 1.5em auto;
    transition: all .5s ease;
}

.form__input:focus {
    border-bottom-color: var(--unbleachedSilk);
    box-shadow: 0 0 5px rgb(182, 149, 132);
    border-radius: 4px;
}

.btn {
    transition: all .5s ease;
    width: 70%;
    border-radius: 30px;
    color: var(--silverPink);
    font-weight: 600;
    background-color: #fff;
    border: 1px solid var(--unbleachedSilk);
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.btn:hover, .btn:focus {
    background-color: var(--unbleachedSilk);
    color: white;
}
/*
#form-error {
    visibility: hidden;
}
*/
@media screen and (max-width: 640px) {
    .main-content {
        width: 90%;
    }

    .company__info {
        display: none;
    }

    .login_form {
        border: 1px solid var(--unbleachedSilk);
    }
}

@media screen and (min-width: 642px) and (max-width: 800px) {
    .main-content {
        width: 70%;
    }

    .login_form {
        border: 1px solid var(--unbleachedSilk);
    }
}